<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{asset('bundles/Bibliotheque/css/style.css')}}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <section>
            <header>

                <hgroup>
                    <h2 class="titre">{% block bibliotheque_title %}<a href="{{ path( 'bibliotheque_index' ) }}">Bibliothèque Le Landry</a>{% endblock %}</h2>
                </hgroup>

            {% block navigation %}
                <nav>
                    <ul class="menu">
                        <li><a href="{{ path( 'bibliotheque_index' ) }}">Accueil</a></li>
                        <li><a href="{{ path( 'bibliotheque_livres' ) }}">Livres</a></li>
                        <li><a href="{{ path( 'bibliotheque_panier' ) }}">Panier</a></li>
                        <li><a href="{{ path( 'bibliotheque_profil' ) }}">Profil</a></li>
                        <li class="connexion">
                            {% if app.user %} 
                            <a href="{{ path( 'logout' ) }}">Deconnexion</a>
                            {% else  %}
                            <a href="{{ path( 'login' ) }}">Connexion</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
                <hr>
            {% endblock %}

            </header>

    </section>

    <body class="main-col">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>

    <div id="footer">
                {% block footer %}
                    Site internet - créé par Bastien et Arnaud</a>
                {% endblock %}
    </div>


</html>
