<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Admin Bibliothèque{% endblock %}</title>
        {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{asset('bundles/Bibliotheque/css/style.css')}}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
    </head>
            <header>
                <hgroup>
                    <h2 class="titre">{% block bibliotheque_title %}<a href="{{ path( 'bibliotheque_index' ) }}">&nbsp;Bibliothèque Le Landry</a>{% endblock %}</h2>
                </hgroup>

                    <nav>
                    <img class="logo" src="{{asset('bundles/Bibliotheque/images/logo.png')}}" alt="Impossible à charger">
                        <ul class="menu">
                            <li><a href="{{ path( 'admin' ) }}">Accueil administration</a></li>
                            <li>
                                Gestion des livres
                                <ul>
                                    <li>
                                        <a href="">Livres</a>
                                        <ul>
                                            <li><a href="{{ path( 'bibliotheque_admin_ajout_livre' ) }}">Ajouter un livre</a></li>
                                            <li><a href="{{ path( 'bibliotheque_admin_modif_livre' ) }}">Modifier un livre</a></li>
                                            <li><a href="">Supprimer un livre</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Editeur</a>
                                        <ul>
                                            <li><a href="{{ path( 'bibliotheque_admin_ajout_editeur' ) }}">Ajouter un éditeur</a></li>
                                            <li><a href="">Modifier un éditeur</a></li>
                                            <li><a href="">Supprimer un éditeur</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Auteur</a>
                                        <ul>
                                            <li><a href="{{ path( 'bibliotheque_admin_ajout_auteur' ) }}">Ajouter un auteur</a></li>
                                            <li><a href="">Modifier un auteur</a></li>
                                            <li><a href="">Supprimer un auteur</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="{{ path( 'bibliotheque_admin_prets' ) }}">Gestion des prêts</a></li>
                            <li>
                                Gestion des Profils
                                <ul>
                                    <li><a href="{{ path( 'bibliotheque_admin_ajout_user' ) }}">Ajout utilisateur</a></li>
                                    <li><a href="{{ path( 'bibliotheque_admin_modif_user' ) }}">Modification utilisateur</a></li>
                                    <li><a href="{{ path( 'bibliotheque_admin_suppr_user' ) }}">Suppression utilisateur</a></li>
                                </ul>
                            </li>
                        </ul>
                            <div class="connexion">
                                    {% if app.user %} 
                                    <a href="{{ path( 'logout' ) }}">Deconnexion</a>
                                    {% else  %}
                                    <a href="{{ path( 'login' ) }}">Connexion</a>
                                    {% endif %}
                                    <hr>
                                    <a href="{{ path( 'bibliotheque_index' ) }}">Accueil</a>
                            </div>
                    </nav>

                    <hr>
            </header>

    
        <section class="main-col">
                    {% block body %}{% endblock %}
                    {% block javascripts %}{% endblock %}
        </section>
        <section>
            <footer>
                    {% block footer %}
                            <hr>
                            Site internet - créé par Bastien et Arnaud
                    {% endblock %}
            </footer>
        </section>
    </body>
</html>