<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{asset('bundles/Bibliotheque/css/style.css')}}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <section class="header">
                <header>    
                    <hgroup>
                        <h2 class="titre">{% block bibliotheque_title %}<a href="{{ path( 'bibliotheque_index' ) }}">Bibliothèque Le Landry</a>{% endblock %}</h2>
                    </hgroup>

                    {% block navigation %}
                        <nav>
                        <img class="logo" src="{{asset('bundles/Bibliotheque/images/logo.png')}}" alt="Impossible à charger">
                            <ul class="menu">
                                <li><a href="{{ path( 'bibliotheque_index' ) }}">Accueil</a></li>
                                <li><a href="{{ path( 'bibliotheque_livres' ) }}">Livres</a></li>
                                <li>
                                {{ form_start(search) }}
                                    {{ form_widget(search.recherche, {'attr': {'class': 'searchInput'}}) }}
                                    {{ form_widget(search.save) }}
                                {{ form_end(search) }}
                                </li>
                            </ul>
                            <div class="connexion">
                                    {% if app.user %} 
                                        <a href="{{ path( 'logout' ) }}">Deconnexion</a>
                                    {% else  %}
                                        <a href="{{ path( 'login' ) }}">Connexion</a>
                                    {% endif %}
                                    <hr>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path( 'admin' ) }}">Administration</a>
                                    <hr>
                                    {% endif %}
                                    {% if is_granted('ROLE_BIBLIOTHECAIRE') %}
                                        <a href="{{ path('bibliotheque_bibliothecaire') }}">Administration</a>
                                    <hr>
                                    {% endif %}
                                    {% if is_granted('ROLE_ETUDIANT', 'ROLE_PROFESSEUR') %}
                                        <a href="{{ path( 'bibliotheque_profil' ) }}">Profil</a>
                                    <hr>
                                    {% endif %}
                                    <a href="{{ path( 'bibliotheque_panier' ) }}">Panier</a>
                            </div>
                        </nav>
                        <hr>
                    {% endblock %}
                </header>
        </section>

        <section class="main-col">
                    {% block body %}{% endblock %}
                    {% block javascripts %}{% endblock %}
        </section>
        <section>
                <aside class="sidebar">
                        {% block sidebar %}{% endblock %}
                </aside>
                
        </section>
        <section>
            <footer>
                    {% block footer %}
                            <hr>
                            Site internet - créé par Bastien et Arnaud
                    {% endblock %}
            </footer>
        </section>
    </body>
</html>