{% extends '::base_admin.html.twig' %}
{% block body %}
<h1>Ajouter un livre</h1>
<br>
{{ form_start(form, {'enctype': 'multipart/form-data'}) }}
	<fieldset class="livreForm" >
		{{ form_label(form.titre, 'Titre :', {'label_attr': {'class': 'label spacerUser'}}) }}
		{{ form_widget(form.titre) }}
		<br>
		{{ form_label(form.isbn, 'Isbn :', {'label_attr': {'class': 'label spacerUser'}}) }}
		{{ form_widget(form.isbn) }}
		<br>
		{{ form_label(form.description, 'Description :', {'label_attr': {'class': 'label spacerUser'}}) }}
		{{ form_widget(form.description) }}
		<br>
		{{ form_label(form.dateparution, 'Date de parution :', {'label_attr': {'class': 'label spacerUser'}}) }}
		{{ form_widget(form.dateparution) }}
		<br>
		{{ form_label(form.theme, 'Thème :', {'label_attr': {'class': 'label spacerUser'}}) }}
		{{ form_widget(form.theme) }}
		<br>
		{{ form_label(form.auteur, 'Auteur :', {'label_attr': {'class': 'label spacerUser'}}) }}
		{{ form_widget(form.auteur) }}
		<br>
		{{ form_label(form.editeur, 'Editeur :', {'label_attr': {'class': 'label spacerUser'}}) }}
		{{ form_widget(form.editeur) }}
		<br>
		<br>
		{{ form_label(form.image, 'Couverture :') }}
		{{ form_widget(form.image) }}
{{ form_end(form) }}
{{ form_start(formEx) }}


	</fieldset>
{{ form_end(formEx) }}
{% endblock %}

{% block sidebar %}
   
{% endblock %}