{% extends 'base_admin.html.twig' %}


{% block body %}
<h1>Modifier un utilisateur</h1>
<br>
	{% for flashMessage in app.session.flashbag.get('user_modif_success') %}
        <div class="add_success">
        <p>
        {{ flashMessage }}
        </p>
        </div>
        <br>
    {% endfor %}

	{{ form_start(search) }}
		<fieldset class="search">
			{{ form_label(search.recherche, "Recherche par nom d'utilisateur :") }}
			{{ form_widget(search.recherche) }}
		</fieldset>
	{{ form_end(search) }}


{% endblock %}