{% extends 'base_admin.html.twig' %}
{% block body %}
    <h1>Supprimer un thème</h1>

{{ form_start(search) }}
<fieldset class="searchLivre">
			{{ form_label(search.recherche, "Rechercher un thème :") }}
			{{ form_widget(search.recherche) }}
			</fieldset>
{{ form_end(search) }}

	<table>
	    {% for theme in theme %}
	        <tr>
	        	<td>{{ theme.intitule }}</td>
	        	<td></td>
	        </tr>
	    {% endfor %}
    </table>
{% endblock %}