{% extends '::base.html.twig' %}
{% block body %}
<div class="listLivres" >
	<ul>
		{% for theme in theme %}
		<li>{{ theme.intitule }}</li>
		{% endfor %}
	</ul>
</div>
<div class="livreDetail" >
<h1>Détails de votre sélection :</h1>
	<h3>{{ livre.titre }} <span>de {{ livre.auteur.nom }}<span><span><img src="{{ asset(livre.urlimage) }}" alt="{{ livre.altimage }}"class="afficheImage"></span></h3>
	<h3>Date de parution : {{ livre.dateparution|date("d/m/y") }}</h3>
	<h3>Editeur : {{ livre.editeur.nom }}</h3>
	<h3>Thème : {{ livre.theme.intitule }}</h3>
	<h3>Résumé :</h3>
	<h4>{{ livre.description }}</h4>
	<h5>Isbn : {{ livre.isbn }}</h5>

</div>
{% endblock %}


