{% extends '::base.html.twig' %}
{% block body %}
<div class="listLivres" >
	<ul>
		{% for theme in theme %}
		<li><a href="{{ path( 'bibliotheque_detail_livre_par_theme', {'theme' : theme.intitule } ) }}">{{ theme.intitule }}</a></li>
		{% endfor %}
	</ul>
</div>
<div class="livreDetail" >
<h1>Les livres du thème {{ themeCourant }}</h1>

<div class="listeLivre">
<table class="listLivre">
	<tr>
		{% for livre in livre|slice(0, 4) %}
			<td >
				 <a href="{{ path( 'bibliotheque_detail_livre', {'titre' : livre.titre } ) }}">
				 <img src="{{ asset(livre.urlimage) }}" alt="{{ livre.altimage }}" class="miniCouv">
				 {{ livre.titre }}
				 </a>
			</td>
		{% endfor %}
	</tr>
	<tr>
		{% for livre in livre|slice(4, 4) %}
			<td>
				<a href="{{ path( 'bibliotheque_detail_livre', {'titre' : livre.titre } ) }}">
				 <img src="{{ asset(livre.urlimage) }}" alt="{{ livre.altimage }}" class="miniCouv">
				 {{ livre.titre }}
				 </a> 
			</td>
		{% endfor %}
	</tr>
	<tr>
		{% for livre in livre|slice(8, 4) %}
			<td>
				<a href="{{ path( 'bibliotheque_detail_livre', {'titre' : livre.titre } ) }}">
				 <img src="{{ asset(livre.urlimage) }}" alt="{{ livre.altimage }}" class="miniCouv">
				 {{ livre.titre }}
				 </a>
			</td>
		{% endfor %}
	</tr>
	<tr>
		{% for livre in livre|slice(12, 4) %}
			<td>
				<a href="{{ path( 'bibliotheque_detail_livre', {'titre' : livre.titre } ) }}">
				 <img src="{{ asset(livre.urlimage) }}" alt="{{ livre.altimage }}" class="miniCouv">
				 {{ livre.titre }}
				 </a>
			</td>
		{% endfor %}
	</tr>
</table>
</div>

{% endblock %}