{% extends '::base.html.twig' %}
{% block body %}
<h1>Livres</h1>
<div class="listLivres" >
	<ul>
		<li><a href="">Actu, Politique et Société </a></li>
		<li><a href="">Adolescents</a></li>
		<li><a href="">Art, Musique et Cinéma</a></li>
		<li><a href="">Bandes dessinées</a></li>
		<li><a href="">Beaux livres</a></li>
		<li><a href="">Cuisine et Vins</a></li>
		<li><a href="">Dictionnaires, langues et encyclopédies</a></li>
		<li><a href="">Droit</a></li>
		<li><a href="">Entreprise et Bourse</a></li>
		<li><a href="">Erotisme</a></li>
		<li><a href="">Esotérisme et Paranormal</a></li>
		<li><a href="">Etudes supérieures</a></li>
		<li><a href="">Famille, Santé et Bien-être</a></li>
		<li><a href="">Fantasy et Terreur</a></li>
		<li><a href="">Histoire</a></li>
		<li><a href="">Humour</a></li>
		<li><a href="">Informatique et Internet</a></li>
		<li><a href="">Littérature</a></li>
		<li><a href="">Littérature sentimentale</a></li>
		<li><a href="">Livres pour enfants</a></li>
		<li><a href="">Loisirs créatifs, décoration et bricolage</a></li>
		<li><a href="">Manga</a></li>
		<li><a href="">Nature et animaux</a></li>
		<li><a href="">Policier et Suspense</a></li>
		<li><a href="">Religions et Spiritualités</a></li>
		<li><a href="">Science-Fiction</a></li>
		<li><a href="">Sciences humaines</a></li>
		<li><a href="">Sciences, Techniques et Médecine</a></li>
		<li><a href="">Scolaire et Parascolaire</a></li>
		<li><a href="">Sports et passions </a></li>
		<li><a href="">Tourisme et Voyages</a></li>
	</ul>
</div>


<table class="listLivre">
	<tr>
		{% for livre in livre|slice(0, 5) %}
			<td>
				<img src="{{ asset(livre.urlimage) }}" alt="{{ livre.altimage }}" class="miniCouv">
				 <p>{{ livre.titre }}</p> 
			</td>
		{% endfor %}
	</tr>
	<tr>
		{% for livre in livre|slice(5, 10) %}
			<td>
				<img src="{{ asset(livre.urlimage) }}" alt="{{ livre.altimage }}" class="miniCouv">
				 <p>{{ livre.titre }}</p> 
			</td>
		{% endfor %}
	</tr>
</table>





{% endblock %}
