{% extends '::base.html.twig' %}

{% block body %}
        <h1>Nous contacter</h1>

    {% for flashMessage in app.session.flashbag.get('contact-notice') %}
        <div class="add_success">
        {{ flashMessage }}
        </div>
    {% endfor %}

    <form action="{{ path('Bibliotheque_contact') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}